@page
@model PetLar.Pages.Home.IndexModel
@{
    ViewData["Title"] = "PetLar";

    var partnerONGs = new List<dynamic>
    {
        new { Name = "Amigos dos Animais", Description = "ONG dedicada ao resgate e cuidado de animais abandonados." },
        new { Name = "Patinhas Felizes", Description = "Trabalhamos para encontrar lares amorosos para animais de rua."},
        new { Name = "Vida Animal", Description = "Promovemos o bem-estar animal através de campanhas de adoção e conscientização." }
    };
}

<div class="hero">
    <div class="hero-text">
        <h1>Bem-vindo ao PetLar!</h1>
    </div>
</div>

<div class="container">
    <section class="available-animals-section">
        <h2>Animais Disponíveis para Adoção</h2>
        <p>Conheça nossos adoráveis animais esperando por um novo lar.</p>
        <div class="animal-items">
            @foreach (var animal in Model.Animais)
            {
                <div class="animal-item">
                    <img src="@animal.ImagePath" alt="Imagem de @animal.Name" class="animal-image" />
                    <div class="animal-info">
                        <h3>@animal.Name</h3>
                        <p>@animal.Description</p>
                        <a href="javascript:void(0);" class="btn-view" 
                   data-name="@animal.Name"
                   data-breed="@animal.Breed"
                   data-age="@animal.Age"
                   data-description="@animal.Description"
                   data-image-url="@animal.ImagePath"
                   data-phone="@animal.Ong.Phone"
                   onclick="openModal(this)">Saiba Mais</a>
                    </div>
                </div>
            }
        </div>
        <div class="btn-container">
            <a href="/Animals/Animals" class="btn-secondary">Ver Todos os Animais</a>
        </div>
    </section>

    @* <section class="partner-ongs-section">
        <h2>Nossas ONGs Parceiras</h2>
        <p>Conheça as ONGs que colaboram conosco para o resgate e adoção de animais.</p>
        <div class="partner-items">
            @foreach (var ong in partnerONGs)
            {
                <div class="partner-item">
                    <img src="/images/ong-2.png" alt="@ong.Name" class="partner-image" />
                    <h3>@ong.Name</h3>
                    <a href="/Ong/OngProfile" class="btn-visit">Ver Perfil</a>
                </div>
            }
        </div>
    </section> *@
</div>

<div id="animalModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <img id="modalImage" src="" alt="Imagem do Animal" class="modal-image" />
        </div>
        <h3 id="modalName"></h3>
            <p id="modalDescription"></p>
        <div class="modal-body">
            <div class="modal-body-item">

            <p><strong>Raça:</strong> <span id="modalBreed"></span></p>
            </div>
            <div class="modal-body-item">
            <p><strong>Idade:</strong> <span id="modalAge"></span></p>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" id="whatsappLink" target="_blank" class="btn-whatsapp">
                <img src="/images/whatsapp-icon.png" alt="WhatsApp" /> Contatar pelo WhatsApp
            </a>
        </div>
    </div>
</div>

<script>
    function openModal(element) {
        
        var name = element.getAttribute('data-name');
        var breed = element.getAttribute('data-breed');
        var age = element.getAttribute('data-age');
        var description = element.getAttribute('data-description');
        var imageUrl = element.getAttribute('data-image-url');
        var phone = element.getAttribute('data-phone');

        document.getElementById('modalName').innerText = name;
        document.getElementById('modalBreed').innerText = breed;
        document.getElementById('modalAge').innerText = age + ' ano(s)';
        document.getElementById('modalDescription').innerText = description;
        document.getElementById('modalImage').src = imageUrl;

        var whatsappLink = document.getElementById('whatsappLink');
        whatsappLink.href = `https://wa.me/${phone}?text=Ol%C3%A1,%20me%20interessei%20pelo%20pet%20${encodeURIComponent(name)},%20ainda%20est%C3%A1%20dispon%C3%ADvel%20para%20ado%C3%A7%C3%A3o?`;

        document.getElementById('animalModal').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('animalModal').style.display = 'none';
    }

    window.onclick = function (event) {
        const modal = document.getElementById('animalModal');
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<style>
    a {
        text-decoration: none;
        color: #fff;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 40px;
    }

    .hero {
        background: url('/images/LandingPage.png') no-repeat center center/cover;
        border-radius: 12px;
        padding: 100px 20px;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .hero-text {
        background: rgba(255, 255, 255, 0.1);
        padding: 20px;
        border-radius: 15px;
        display: inline-block;
    }

    .hero h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .btn-cta {
        background-color: #ff6b6b;
        padding: 15px 30px;
        border-radius: 30px;
        font-size: 1.2rem;
        transition: background-color 0.3s ease;
        display: inline-block;
    }

    .available-animals-section {
        margin-top: 30px;
    }

.animal-items {
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 350px));
    gap: 30px;
    justify-content: center;
}

    .animal-item {
         max-width: 300px;
         min-width: 300px;
        margin: 0 auto; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        border-radius: 16px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .animal-item:hover {
            transform: scale(1.01);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
        }

    .animal-image {
        width: 100%;
        height: 20vh;
        object-fit: cover;
    }

    .animal-info {
        text-align: center;
    }

    .btn-view {
        display: inline-block;
        width: 100%;
        background-color: #FE7370;
        padding: 10px;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        transition: background-color 0.3s ease;
        color: white;
        border: none;
    }

        .btn-view:hover {
            background-color: #fff;
            color: #FE7370;
        }

    .btn-container {
        display: flex;
        justify-content: center;
        margin-top: 20px; 
    }

    .btn-secondary {
        color: white;
        padding: 10px 20px;
        border-radius: 8px;
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        transition: background-color 0.3s ease;
        text-align: center;
    }

        .btn-secondary:hover {
            background-color: #e05d5d;
        }


    .modal {
        display: none;
        align-content: center;
        justify-content: center;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(5px);
    }

    .modal-content {
        position: relative;
        max-width: 500px;
        width: 100%;
        margin: auto;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.5);
        overflow: hidden;
    }

    .modal-content h3{
            margin-top: 10px;
            padding: 0px 20px;
    }

        .modal-content p {
            padding: 0px 20px;
        }

    .modal-header {
        padding: 0;
        width: 100%;
    }

    .modal-image {
        width: 100%;
        max-height: 40vh;
    }

    .modal-body {
        display: flex;
        flex-direction: row;
        gap: 20px;
        text-align: center;
        font-size: 18px;
        padding: 8px;
    }

    .modal-body-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 40px;
        border-radius: 24px;
        background-color: #FE7370;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }

        .modal-body p {
            color: #fff;
            font-size: 16px;
            text-align: center;
            margin-top: 16px;
        }

    .modal-footer {
        text-align: center; 
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }


    .btn-whatsapp {
        background-color: #25d366;
        color: white;
        padding: 10px 20px;
        border-radius: 50px;
        text-decoration: none;
        font-size: 18px;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s;
    }

    .btn-whatsapp img {
        margin-right: 10px;
        height: 24px;
    }

    .btn-whatsapp:hover {
        background-color: #1ebe5d;
            color: white;
    }

        .btn-whatsapp:focus {
            outline: none;
        }

    .partner-ongs-section {
        padding: 20px;
        background-color: #f9f9f9;
    }

    .partner-items {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .partner-item {
        width: 250px;
        height: 400px;
        background: white;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
    }

        .partner-item:hover {
            transform: scale(1.05);
        }

    .partner-image {
        width: 100%;
        height: auto;
        border-radius: 8px 8px 0 0;
    }

    .btn-visit {
        display: inline-block;
        background-color: #FE7370;
        color: white;
        padding: 10px 20px;
        border-radius: 8px;
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        transition: background-color 0.3s ease;
    }

        .btn-visit:hover {
         
            color: white; 
            border: none; 
        }

</style>
